@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 1.2em Arial;
}

header {
    color: white;
    text-align: center;
}
header > h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
}

section {
    text-align: center;
}


section {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.419);
    padding: 15px;
    width: 400px;
    height: 900px;
    margin: auto;
}
div {
    padding: 8px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}